body {
    margin: 0;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
    box-sizing: border-box;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    text-align: center;
    color: #EEEEEE;
    
}

.score {
    width: 155px;
    height: 120px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}