body {
    background-color: #1B244A;
    box-sizing: border-box; 
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 500px;
    height: 300px;

}

h3 {
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;    
    margin: 0;
}

.score {
    display: flex;
    margin: 20px 0;
    width: 155px;
    height: 120px;
    background-color: black;
    color: darkred;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border: 2px solid darkred;
    border-radius: 5px;

}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}

.btn {
    font-family: "Iceland", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    background-color: #1B244A;
    color: #EEEEEE;
    border: 2px solid grey;
    border-radius:  4px;
}
  